<html>
  <head>
    <title>Login Page</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div class="background-pattern"></div>
    <form class="login-container" action="/login" method="post">
      <h1>Welcome back!</h1>
      <p>We're really happy to see you again!</p>
      <input type="text" placeholder="Enter your email" id="email" name="email"/>
      <input type="password" placeholder="Password" id="password" name="password" />
      <button onclick="getLogin()">Log In</button>
      <p>Or Log In With</p>
      <div class="social-login">
        <a href="#"><i class="fab fa-google"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fas fa-envelope"></i></a>
      </div>
      <p class="signup">
        Don't have an account? <a href="/signup">Sign Up Here</a>
      </p>
    </fo>
    
  </body>
</html>
