<html>
  <head>
    <title>Sign Up</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/signup.css" />
  </head>
  <body>
    <div class="background"></div>
    <form class="container" action="/signup" method="post">
      <h1>Sign Up</h1>
      <p>Welcome to Duet!</p>
      <div class="input-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" />
      </div>
      <div class="input-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" />
      </div>
      <div class="input-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />
      </div>
      <div class="input-group">
        <label for="confirm-password">Confirm Password:</label>
        <input type="password" id="confirm-password" name="comfirm-password" />
      </div>
      <button class="btn" id="btn">Sign Up</button>
      <p class="signup">Already have an account? <a href="/login">Login</a></p>
      <div class="divider">Or Sign in with</div>
      <div class="social-buttons">
        <a href="#"><i class="fab fa-google"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fas fa-envelope"></i></a>
      </div>
    </form>
  </body>
</html>
